/* Lista de exercícios */
.lista-exercicios ol {
  padding-left: 20px;
}

.lista-exercicios li {
  margin-bottom: 24px;
}

.lista-exercicios .alternativas {
  list-style: none;
  padding-left: 0;
}

.lista-exercicios .alternativas li {
  margin: 4px 0;
}



