/* RESET */

body{

margin:0;
background:#111;

display:flex;
justify-content:center;
align-items:center;

height:100vh;
width:100vw;

overflow:hidden;

font-family:'Inter', sans-serif;

}

/* CONTAINER DA APRESENTAÇÃO */

.presentation{

width:min(96vw, calc(96vh * 16 / 9));
height:min(96vh, calc(96vw * 9 / 16));

aspect-ratio:16/9;

position:relative;

overflow:hidden;

background:black;

}

/* SLIDES */

.slide{

position:absolute;

width:100%;
height:100%;

display:flex;

justify-content:center;
align-items:center;

opacity:0;

transition:opacity 0.5s;

}

/* SLIDE ATIVO */

.slide.ativo{

opacity:1;

}




/* ============================= */
/* SLIDE CAPA ELETRIZAÇÃO */
/* ============================= */

.slide-capa-eletrizacao{

background-image:
linear-gradient(
rgba(0,0,0,0.65),
rgba(0,0,0,0.25)
),
url("../imagens/capa_processos+eletrizacao.png");

background-size:cover;

background-position:center;

display:flex;
justify-content:center;
align-items:center;

}

/* título */

.titulo-capa{

text-align:center;

}

.titulo-capa h1{

font-family:'Playfair Display', serif;

font-size:8rem;

color:white;

letter-spacing:1px;

text-shadow:0 12px 30px rgba(0,0,0,0.85);

}


/* ============================= */
/* SLIDE TEÓRICO */
/* ============================= */

.slide-teoria{

background:#0f1420;

color:white;

display:flex;
flex-direction:column;

}

/* título */

.titulo-slide{

height:18%;

display:flex;
align-items:center;

padding-left:6%;

border-bottom:1px solid rgba(255,255,255,0.15);

}

.titulo-slide h2{

font-family:'Libre Baskerville', serif;

font-size:3rem;

}

/* layout */

.conteudo-grid{

flex:1;

display:grid;

grid-template-columns:55% 45%;

align-items:center;

padding:5% 6%;

gap:40px;

}

/* texto */

.texto{

font-size:2.2rem;

line-height:1.5;

}

.texto li{

margin-bottom:30px;

}

/* imagem */

.imagem{

display:flex;
justify-content:center;

}

.imagem img{

max-height:450px;

}

/* ============================= */
/* SLIDE 2 - ESTRUTURA DA MATÉRIA */
/* ============================= */

/* SLIDE ESTRUTURA */

.slide-estrutura{

background-image:
linear-gradient(
to right,
rgba(10,15,30,0.92) 0%,
rgba(10,15,30,0.85) 35%,
rgba(10,15,30,0.35) 55%,
rgba(10,15,30,0) 70%
),
url("../imagens/estrutura_atomica.png");

background-size:cover;
background-position:center right;

display:flex;
flex-direction:column;
align-items:flex-start;

color:white;

}

/* área textual */

.slide-estrutura .conteudo-texto{

padding-left:6%;
padding-top:3%;

width:42%;

max-width:800px;

font-size:2.2rem;

line-height:1.55;

text-align:left;

}

.slide-estrutura .titulo-area{

height:20%;

display:flex;
align-items:center;

padding-left:6%;

}

.slide-estrutura h2{

font-family:'Libre Baskerville', serif;

font-size:3.8rem;
letter-spacing: 0.5px;

color:white;

padding-bottom:12px;

border-bottom:2px solid rgba(255,255,255,0.25);

}

/* lista */

.slide-estrutura ol{

padding-left:1.4em;

}

.slide-estrutura li{

margin-bottom:35px;

}